<ion-header>
  <ion-toolbar color="darkyellow">
      <img src="/assets/icon/ร้านขาว.png" width="125px"><img src="/assets/icon/Rung.png" width="150px"  slot="end">
</ion-toolbar>
</ion-header>

<ion-content color="darkyellow">


 <ion-card color="sir" *ngFor="let data of show">
   <ion-card>
  <ion-item color="pigblood">
    <ion-thumbnail slot="start">
      <img src="https://t4.ftcdn.net/jpg/02/73/82/69/360_F_273826938_g3zTc4k5UtVsYDgZnPyVkzR6WEmyeuhB.jpg">
    </ion-thumbnail>
    <ion-label color="darkyellow">
      <h2>{{ data.name }}</h2>
      <p>{{ data.detail }}</p>
    </ion-label>
    <ion-note color="darkyellow" slot="end" style="font-size: 14px; margin-top: 10px;" >{{ data.price }}  บาท</ion-note>
    <ion-button slot="end" fill="clear" size="large" id="present-alert" (click)="deleteproductcart(data.id)">
      <ion-icon name="trash" color="darkyellow" ></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>
</ion-card>
  <ion-button expand="block" color="pigblood" shape="round" size="large" (click)="goToLogin()">สั่งอาหาร</ion-button>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" color="darkyellow">
    <ion-fab-button color="pigblood">
      <ion-icon name="caret-back"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="pigblood" (click)="goToWait()" >
        <ion-icon name="send" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToHome()" color="pigblood">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
