

<ion-content [fullscreen]="true" class="ion-padding" color="warning">
  <div class="container" >
    <img src="/assets/icon/logo.png" alt="โลโก้รุ่งเรือง" class="logo">
    <h1 ></h1>
    <p></p>
    <ion-button expand="block" color="pigblood" shape="round" size="large" (click)="goTomenu1()" style="margin-bottom: 20px;">สั่งอาหาร</ion-button>
    <ion-button expand="block" color="pigblood" shape="round" size="large" style="margin-top: 20px;" (click)="goToLoginem()">เจ้าของร้าน</ion-button>
  </div>
</ion-content>

